extends layout

block content
  header.header
    h1.headline
      | Foundation  
      small by ZURB
    ul.header-subnav
      li
        a.is-active(href='#') Home!
      li
        a(href='/login') Login!
